<figure class="reply-attachment">
  <%= link_to message.room ? room_at_message_path(message.room, message) : "#", class: "reply-attachment__link" do %>
    <% if message.attachment? && message.attachment.representable? %>
      <% begin %>
        <% if message.attachment.video? %>
          <%= image_tag message.attachment.preview(format: :webp, resize_to_limit: [200, 120]), class: "reply-thumbnail", alt: message.attachment.filename %>
        <% else %>
          <%= image_tag message.attachment.representation(:reply_thumb), class: "reply-thumbnail", alt: message.attachment.filename %>
        <% end %>
      <% rescue => e %>
        <% Rails.logger.error "Failed to render reply thumbnail: #{e.message}" %>
      <% end %>
    <% end %>
    <figcaption class="reply-attachment__caption">
      <strong><%= message.creator&.name || "Unknown" %></strong>
      <% if message.attachment? %>
        <span><%= message.attachment.filename %></span>
      <% end %>
    </figcaption>
  <% end %>
</figure>
